/* ==========================================================================
   #TOP LINK
   ========================================================================== */

.c-top-link {
  background: $color-bg-dark-reverse;
  color: $color-text-reverse;
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  padding: 0.5em 1em;
}
