<footer class="o-wrapper c-footer">
  <p>A preview site for an article <a href="https://www.xfive.co/blog/mvc-like-wordpress-development-acf-timber/" target="_blank">An MVC-like WordPress Development with ACF and Timber</a></p>
  <p class="c-footer__note">The content of this website was created using the following generators:</p>
  <ul class="c-footer__list">
    <li class="c-footer__list__item"><a href="http://www.bullshitjob.com/title/" target="_blank">Job Title Generator</a></li>
    <li class="c-footer__list__item"><a href="http://www.vox.com/2015/3/19/8252353/generate-your-own-bogus-job-description" target="_blank">Vox Bogus Job Description Generator</a></li>
    <li class="c-footer__list__item"><a href="http://wisdomofchopra.com/" target="_blank">Random Deepak Chopra Quote Generator</a></li>
    <li class="c-footer__list__item"><a href="http://www.ravi.io/buzzfeed-title-generator" target="_blank">Buzzfeed Title Generator</a></li>
  </ul>
  <p class="c-footer__xfive"><a href="https://www.xfive.co/">Xfive</a> - Developers who care</p>
</footer>
